.profile-container {
  padding-top: 20px;
  padding: 1rem;
}

.header-menu-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  max-width: 500px;
  height: 260px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
  margin-bottom: 10px;
  font-size: 16px;
}

.user-info label {
  font-weight: bold;
}

.profile-posts {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 700px;
  margin: auto;
}

.upload-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-label {
  cursor: pointer;
}

.plus-icon {
  color: white;
  font-size: 18px;
  line-height: 1;
}
